* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/******************************************
/* BASE STYLES
/*******************************************/

:root {
  font-size: 62.5%;
}


body {
  background-color: #ffffff;
  font-size: 2.2rem;
  text-align: center;
}
h1 {
  margin-bottom: 5rem;
}
button {
  background: transparent;
  border: none;
}
/******************************************
/* LAYOUT
/*******************************************/
.game-board {
  width: 750px;
  height: 750px;
  margin: 0 auto;
  /* border: 1px solid black; */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.cell {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10rem;
}


.cell:hover {
  background-color: beige;
}

.cell:nth-child(3n - 1) {
  border-left: 1px solid black;
  border-right: 1px solid black;
}
.cell:nth-child(-n + 3) {
  border-bottom: 1px solid black;
}
.cell:nth-child(n + 7) {
  border-top: 1px solid black;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
